<!--<% provide(:title, '') %>-->
<% provide(:active_menu, 'about') %>

  <!--<h1 class="cover-heading">Twoja siłownia, online</h1>-->
  <p class="lead">Nasza firma działa od 1991 roku. Obsłużyliśmy ponad 20 000 zadowolonych klientów. Wyróżnia nas profesjonalizm.</p>
  <p class="lead">
    Wykup okres próbny już teraz. Jeśli nie będziesz zadowolony, skontaktuj się z działem obsługi klienta, a zwrócimy Ci 120% wkładu. Dostaniesz więcej, niż zapłaciłeś!
  </p>

