<!--<% provide(:title, '') %>-->

  <h1 class="cover-heading">Twoja siłownia, online</h1>
  <p class="lead">Tylko u nas! Masz dostęp do ponad 10 000 planów treningowych, znanych trenerów, dietetyków kiedy chcesz, online. To tak, jakby mieć w domu specjalistów z każdej poddziedziny fitenssu!</p>
  <p class="lead">
    <%= link_to "Czytaj więcej!", about_path, :class => "btn btn-lg btn-default" %>
  </p>

