# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
#S ign. dokumentacji
doc/
#S ignorowanie plików tymczasowych
*.swp
#S ign. pl. tymcz. vima
*~
.project
.DS_Store
#S ignorowanie folderu konfiguracyjnego środowiska RubyMine
.idea
.secret

