
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->



<% provide(:active_menu, 'profile') %>


<h1>Kursanci:</h1>

<table class="record-table">
  <thead>
  <tr>
    <th>Imie i nazwisko</th>
    <th>Email</th>
    <th></th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <% if !is_coach(user) %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Pokaż', user %></td>
        <!--<td><%#= link_to 'Edit', edit_coach_path(coach) %></td>-->
        <!--<td><%#= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'Nowy trener', new_coach_path %>-->
