
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<h1>Editing activity_record3</h1>

<%= render 'form' %>

<%= link_to 'Pokaż', @activity_record3 %> |
<%= link_to 'Wstecz', activity_record3s_path %>
