
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<h1>Editing coach</h1>

<%= render 'form' %>

<%= link_to 'Pokaż', @coach %> |
<%= link_to 'Wstecz', coaches_path %>
