<% provide(:active_menu, 'coaches') %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Imie i nazwisko:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @coach.description %>
</p>

<%#= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Wstecz', coaches_path %>
