@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------*/

.modal-open {
  overflow: hidden;
}


/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y: scroll;
}

@media (max-width: 979px) {
  .modal-open.page-overflow .page-container .navbar-fixed-top,
  .modal-open.page-overflow .page-container .navbar-fixed-bottom  {
    overflow-y: visible;
  }
}


.modal-scrollable {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal {
  outline: none;
  position: absolute;
  margin-top: 0;
  top: 50%;
  overflow: visible; /* allow content to popup out (i.e tooltips) */
}

.modal.fade {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
}

.modal-body {
  max-height: none;
  overflow: visible;
}

.modal.modal-absolute {
  position: absolute;
  z-index: 950;
}

.modal .loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 6px;
}

.modal-backdrop.modal-absolute{
  position: absolute;
  z-index: 940;
}

.modal-backdrop,
.modal-backdrop.fade.in{
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #fff;
}

.modal.container {
  width: 940px;
  margin-left: -470px;
}

/* Modal Overflow */

.modal-overflow.modal {
  top: 1%;
}

.modal-overflow.modal.fade {
  top: -100%;
}

.modal-overflow.modal.fade.in {
  top: 1%;
}

.modal-overflow .modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Responsive */

@media (min-width: 845) {
  .modal.container {
    width: 1170px;
    margin-left: -585px;
  }
}

@media (max-width: 979px) {
  .modal,
  .modal.container,
  .modal.modal-overflow 	{
    top: 1%;
    right: 1%;
    left: 1%;
    bottom: auto;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .modal.fade.in,
  .modal.container.fade.in,
  .modal.modal-overflow.fade.in {
    top: 1%;
    bottom: auto;
  }

  .modal-body,
  .modal-overflow .modal-body {
    position: static;
    margin: 0;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  .modal-footer,
  .modal-overflow .modal-footer {
    position: static;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

/*
Animate.css - http://daneden.me/animate
Licensed under the Ã¢ËœÂº license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}


/*--------------------*/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
//  width: 100%;
//  background-color: #333;
    background-color: #ffffff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  /*color: rgba(255,255,255,.75);*/
  color: white;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  font-size: x-large;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }
}



/*-------------------------------------------------*/
body {
  /*background-color: #FFFFD6;*/
  background-image: url('cover.jpg');
}

.mheader {
  background-color: #FFFFD6;
  background-image: url('header.jpg');
  width: 740px;
  height: 491px;
}

.mcontainer {
  width:740px;
  margin: auto;
  /*height: 800px;*/
}

.mmenu {
  background-color: #009933;
  width: 181px;
  text-align: center;
  float: left;
  color: white;
  font-size: x-large;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: double;
  height: 65px;
  display:table-cell;
  vertical-align: middle;
}

.mmenu:hover {
  background-color: #FF9900;
  width: 178px;
  text-align: center;
  float: left;
  color: white;
  font-size: x-large;
  /*height: 80px;*/
  display:table-cell;
  vertical-align: middle;
}

.mcontent {
  height: 300px;
  border-left: 8px;
  border-right: 8px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: solid;
  border-color: #009933;
  padding: 20px;
  /*margin-top: 20px;*/
  text-align: justify;
  text-indent: 30px;
}


.mfooter {
  text-align: center;
  background-color: #009933;
  font-size: large;
  color: white;
}

.wbl {
  border-left: 0px;
}

.wbr {
  border-right: 0px;
}

.cc {
  text-indent: 0px;
  margin: auto;
  width: 180px;
}

.mtopmenu {
  /*margin-left: 8px;*/
  /*margin-right: 8px;*/
  border-left: 8px;
  border-right: 8px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: solid;
  border-color: #009933;
  width: 740px;
  height: 65px;
  display:table;
  overflow: hidden;
}

.mmcontent {
  font-size: large;
  text-align: justify;
  text-indent: 30px;
//  background-color: black;
    background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: black;
  border-radius: 25px;
  width: 100%;
}

.record-table {
  table-layout: fixed;
  width: 1000px;
//  align-content: center;
  margin: 0 auto;
}

.record-table td {
  padding-right: 10px;
  padding-top: 4px;
//  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*------------------------------------------*/


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}