
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<% provide(:active_menu, 'activities') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @activity.description %>
</p>

<%#= link_to 'Edit', edit_activity_path(@activity) %>
<!--w ten sposób są opisane linki w RoR - opis linku, adres (pobrany ze zmiennej wyspecyfikowanej w routes.rb) -->
<%= link_to 'Wstecz', activities_path %>
