<% provide(:active_menu, 'activities') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @activity.description %>
</p>

<%#= link_to 'Edit', edit_activity_path(@activity) %>
<%= link_to 'Wstecz', activities_path %>
