

<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Gym online management system</h3>
    <ul class="nav masthead-nav">
      <li id="li1"><a href="#" id="menu1">Register</a></li>
      <li id="li2"><a href="#" id="menu2">About</a></li>
      <li id="li3"><a href="#" id="menu3">Coaches</a></li>
      <li id="li3"><a href="#" id="menu4">Activities</a></li>
      <li id="li4" class="active"><a href="#" id="menu5">Home</a></li>
    </ul>
  </div>
</div>


