

<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Gym online management system</h3>
    <ul class="nav masthead-nav">
      <li id="li1"><a href="#" id="menu1">Zarejestruj się</a></li>
      <li id="li2"><a href="#" id="menu2">O nas</a></li>
      <li id="li3"><a href="#" id="menu3">Trenerzy</a></li>
      <li id="li3"><a href="#" id="menu4">Zajęcia</a></li>
      <li id="li3"><a href="#" id="menu5">Diety</a></li>
      <li id="li4" class="active"><a href="#" id="menu6">Strona główna</a></li>
    </ul>
  </div>
</div>


